<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NWCFL Score Updates</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <table class="table">
        <tr class ="table__header">
            {% for header in headings %}
            <th class ="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="table__row">
            {%for cell in row%}
            <td class ="table__cell">{{ cell }}</td>
            {% endfor%}
        </tr>
        {% endfor %}
    </table>
</body>
</html>